*.DS_Store filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.code-workspace filter=lfs diff=lfs merge=lfs -text
/Lab-1C filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/WEEK1/Lab-1C filter=lfs diff=lfs merge=lfs -text
*.example filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/week3/backend/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/week3/frontend/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
M1-Week4/Week[[:space:]]4[[:space:]]Lecture[[:space:]]Recording.mp4 filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
*.mp4 filter=lfs diff=lfs merge=lfs -text
